<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <!-- Agregar referencia a la hoja de estilo -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>¡Hola, mundo!</h1>
    <p>Esta es una página sencilla con Flask.</p>
    <div>
        <h2>Video Original</h2>
        <a href="/video_original" target="_blank">Ver Video Original</a>
    </div>
    <div>
        <h2>Video Procesado</h2>
        <a href="/video_process" target="_blank">Ver Video Procesado</a>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>