<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visión Artificial</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        /* Añade un estilo para un placeholder o imagen detenida */
        .video-placeholder {
            background-color: #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #555;
            min-height: 200px; /* Ajusta según sea necesario */
        }
    </style>
</head>

<body>
    <header class="bg-dark text-white text-center p-3">
        <h1>Visión Artificial</h1>
    </header>
    <main class="container my-4">
        <div id="container" class="row mt-4">
            <div class="video-section col-md-6 mb-3">
                <h2>Original</h2>
                <div class="mb-2">
                    <button id="start-original" class="btn btn-success btn-sm">Iniciar</button>
                    <button id="stop-original" class="btn btn-danger btn-sm">Detener</button>
                </div>
                <img id="video-original-img" class="w-100 video-placeholder" alt="Video Feed Original Detenido">
            </div>
            <div class="image-section col-md-6 mb-3">
                <h2>Procesada</h2>
                <div class="mb-2">
                    <button id="start-processed" class="btn btn-success btn-sm">Iniciar</button>
                    <button id="stop-processed" class="btn btn-danger btn-sm">Detener</button>
                </div>
                <div id="image-canvas" class="border">
                    <img id="video-processed-img" class="w-100 video-placeholder" alt="Video Feed Procesado Detenido">
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-secondary text-white text-center p-3">
        <p>&copy; 2024 Visión Artificial. Todos los derechos reservados.</p>
    </footer>
</body>

</html>